body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main {
    width: 24.5vw;
    margin: auto;
}

h1 {
    font-weight: 400;
    font-size: 4vw;
    margin: 0;
}

#italics {
    font-style: italic;
}